#calendar {
  @include trailer(2);
  font-family: $body;
  * { @include box-sizing(content-box); }
}

$font-size: 11px;
.ec-calendar {
  @include trailer(.5, $font-size);
}

.ec-calendar-header {
  @include rhythm(0, 0, 0, .5, $font-size);
}

.ec-month-name {
  $sub-font-size: 20px;
  @include adjust-font-size-to($sub-font-size, 1, $font-size);
  font-weight: normal;
}

.ec-month-nav {
  $sub-font-size: 12px;
  @include adjust-font-size-to($sub-font-size, .5, $font-size);
  vertical-align: bottom;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-weight: normal;
}

.ec-body {
  @include text-shadow(none);
  a {
    @include color-link(white, white);
    &:hover { text-decoration: none; }
  }
}
