.dark-text {
  @include text-shadow(rgba(black, .5) 1px 1px 2px);
  color: white;
  a {
    @include hover-link;
    $c1: $color2;
    $c2: lighten($c1, 10%);
    @include color-link($c1, $c2);
  }
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-block {
  @include inline-block;
}

.sidebar {
  @include trailer;
  @include rhythm-borders($border-style: dashed);
  float: right;
  border-color: $link1;
  margin-left: rhythm();
  background: rgba($link1, .025);
  ol, ul {
    margin: 0;
    padding: 0;
  }
  li { margin-left: rhythm(); }
}

.text-field {
  @include rhythm-borders(1px, .25);
  @include box-shadow(rgba(black, .05) 0 0 0 4px);
  margin: 0;
  border-color: rgba(black, .25);
}

.button {
  $c1: rgba(black, .5);
  $c2: rgba(black, .6);
  @include inline-block;
  @include rhythm-borders(1px, .5);
  @include text-shadow(white 0 1px 0);
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  margin: 0;
  background: rgba(black, .05);
  border-color: white;
  outline: 1px solid rgba(black, .25);
  color: $c1;
  &:hover {
    color: $c2;
    background: rgba(black, .1);
    outline-color: rgba(black, .3);
  }
  @include color-link($c1, $c2);
}

.primary {
  $color: $link1;
  $c1: $link1;
  $c2: $link2;
  background: rgba($color, .10);
  outline-color: rgba($color, .5);
  color: $c1;
  &:hover {
    color: $c2;
    background: rgba($color, .15);
    outline-color: rgba($color, .6);
  }
  @include color-link($c1, $c2);
  padding-left: rhythm();
  padding-right: rhythm();
}

.subtle {
  $c1: rgba(black, .4);
  $c2: rgba(black, .6);
  @include adjust-font-size-to($base-font-size);
  color: $c1;
  border: 1px;
  background: none;
  &:hover {
    color: $c2;
    cursor: pointer;
    text-decoration: none;
  }
  @include color-link($c1, $c2);
}
