#intro {
  @include trailer;
  @include rhythm-borders($border-style: dashed);
  background: lighten($color4, 22%);
  border-color: rgba(black, .5);
  p:last-child { @include trailer(0); }
}

.short {
  @include padding-trailer();
  @include trailing-border();
  @include clearfix;
  border-color: rgba(black, .2);
  $cols: 4;
  time {
    $font-size: 11px;
    @include span-columns($cols omega, $main);
    @include adjust-font-size-to($font-size);
    @include leader(.25, $font-size);
    display: block;
    color: rgba(black, .5);
    text-align: right;
  }
  $cols: $main - $cols;
  h2 { @include span-columns($cols, $main); }
  p {
    clear: both;
    &:last-child { @include trailer(0); }
  }
  &:last-of-type {
    @include padding-trailer(0);
    border-bottom: 0;
  }
}
