#left {
  @include span-columns($main);
  padding-left: $side-gutter;
  background: image-url('logo/outward-bound-croatia.png') rhythm(-4) rhythm(-4.25) no-repeat
}

[role=banner] {
  @include padding-leader(.5);
  position: relative;
}

$cols: 2;
#lang {
  @include span-columns($cols omega, $main);
  position: absolute;
  z-index: 10;
  top: rhythm(.5);
  right: 0;
  text-align: right;
  line-height: 0;
}

$font-size: 80px;
#title {
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
  position: relative;
  font-weight: normal;
  font-family: $body;
  text-align: center;
  border-bottom: 2px solid $link1;
  a:hover { text-decoration: none; }
}

$cols: $main / 2;
#social {
  $font-size: 28px;
  @include span-columns($cols, $main);
  @include adjust-font-size-to($font-size, 1);
  @include trailer(1, $font-size);
  outline: 2px solid white;
  a {
    @extend .inline-block;
    $c1: white;
    $c2: white;
    @include color-link($c1, $c2);
    @include border-radius(2px);
    width: rhythm(1.75, $font-size);
    margin-right: 2px;
    padding: rhythm(.25, $font-size);
    background: darken(white, 10%);
    text-align: center;
    &:hover { text-decoration: none; }
  }
}

#facebook:hover { background: #3b5998; }
#twitter:hover { background: #00aced; }
#atom:hover { background: #ff6600; }

#log {
  @include span-columns($cols omega, $main);
  @include adjust-leading-to(2);
  @include trailer(0);
  text-align: right;
}

[role=main] {
  clear: left;
  padding-right: gutter();
  margin-right: - gutter();
}
