@include at-breakpoint($mobile) {

  $side-gutter: 1em;

  $main: $total-columns;
  $sidebar: $total-columns - 1;

  body {
    @include container;
  }

  #left {
    @include span-columns($main);
    padding: 0 $side-gutter;
    &.active-sidebar { margin-left: - columns($sidebar) }
  }

  #right {
    width: columns($sidebar);
    right: - columns($sidebar);
    padding-right: $side-gutter;
    &.active-sidebar { right: 0; }
  }

  #lang {
    @include reset-columns;
    position: static;
    text-align: center;
  }

  $font-size: 80px;
  #title {
    @include leader(.5, $font-size);
    position: static;
  }

  #social, #log {
    @include reset-columns;
    text-align: center;
  }

  #social {
    $font-size: 20px;
    @include adjust-font-size-to($font-size, .75);
    @include trailer(.5, $font-size);
    a {
      width: rhythm(1.75, $font-size);
      padding: rhythm(.25, $font-size);
    }
  }

  $cols: $main - $cols;
  #log {
    @include adjust-leading-to(1.75);
    @include trailer(.5);
  }

  [role=navigation] {
    $font-size: 12px;
    ol { @include adjust-leading-to(1.25, $font-size); }
    a { height: rhythm(1.25, $font-size); }
  }

  #intro {
    margin-left: - $side-gutter;
    margin-right: - $side-gutter;
    border-left: 0;
    border-right: 0;
  }

  #toc {
    float: none;
    padding-left: $side-gutter;
    margin-left: - $side-gutter;
    padding-right: $side-gutter;
    margin-right: - $side-gutter;
    border-left: none;
    border-right: none;
  }

}
