[role=navigation] {
  @include trailer(.5);
  $font-size: 12px;
  ol {
    @include adjust-font-size-to($font-size, 1.5);
    @include clearfix;
    text-align: center;
    @include inline-block-list(0);
  }
  li {
    margin: 0 -2px 2px -2px;
  }
  a {
    $c1: rgba(black, .5);
    $c2: rgba(black, .75);
    @include color-link($c1, $c2);
    display: block;
    height: rhythm(1.5, $font-size);
    padding: 0 rhythm(.5);
    text-transform: uppercase;
    &:hover {
      @include trailing-border(1px, .25, $font-size);
      text-decoration: none;
      background: rgba(black, .025);
      border-color: rgba(black, .25);
    }
    &.active {
      $c1: $link2;
      $c2: rgba(black, .75);
      @include color-link($c1, $c2);
      font-weight: bold;
    }
  }
}
