@include at-breakpoint($tablet) {

  $gutter-width: 4em;
  $grid-padding: 0;

  $main: $total-columns;
  $sidebar: $total-columns - 1;

  body {
    @include container;
  }

  #left, #right {
    @include transition(.2s all ease);
  }

  #left {
    @include span-columns($main);
    margin-right: 0;
    padding-right: $side-gutter;
    &.active-sidebar { margin-left: - columns($sidebar) }
  }

  #right {
    width: columns($sidebar);
    right: - columns($sidebar);
    .show {
      $font-size: 18px;
      $size: rhythm(1.5, $font-size) rhythm(2, $font-size);
      @include adjust-font-size-to($font-size, 2);
      @include size($size);
      display: block;
      position: absolute;
      top: rhythm(3.5, $font-size);
      left: - nth($size, 1);
      z-index: 10;
      text-align: center;
      border: 1px solid rgba(black, .25);
      border-right: none;
      background: image-url('sidebar.png');
      &:hover { text-decoration: none; }
    }
    &.active-sidebar { right: 0; }
  }

}
