= form_tag request.path, method: :get, class: "filter" do
  %fieldset
    = search_field_tag :query, params[:query]
    = button_tag t(".filter"), name: nil, class: "btn-primary"
    = link_to t(".clear_filter"), request.path, class: "btn"
