#social
  %a#facebook{href: "https://www.facebook.com/outwardboundcroatia", target: '_blank'}><
    %i.icon-facebook
  %a#twitter{href: "https://twitter.com/outwardb", target: '_blank'}><
    %i.icon-twitter
  %a#atom{href: posts_path(format: "atom"), target: '_blank'}><
    %i.icon-rss
