- @title = t(".page_title")

- content_for :hero_unit do
  %h1
    %span.slabtext= t("name")
  %p.lead
    %span.slabtext Provodimo programe iskustvenog učenja kroz pustolovne aktivnosti u prirodi.
  = render "carousel"
  = link_to icon("youtube"), "http://youtu.be/vocg-ubKYFw", class: "video", target: "_blank"

= render "about"
