- @title = t(".page_title")

- content_for :hero_unit do
  %h1= t("name")
  %p.lead Provodimo programe iskustvenog učenja kroz pustolovne aktivnosti u prirodi.

  = render "carousel"

= render "about"

.video
  %h2= t(".video")
  %iframe{width: "480", height: "360", src: "http://www.youtube.com/embed/vocg-ubKYFw", frameborder: "0", allowfullscreen: true}
