.admin {
  .new-post {
    margin: $half-spacing-unit 0;
  }
  .posts-list {
    @extend %unstyled-list;
  }
}

form {
  &.new_post,
  &.edit_post {
    .attachment {
      margin-bottom: $half-spacing-unit;
      padding: $half-spacing-unit;
      border: 1px solid shade(white, 20%);
      background-color: shade(white, 2%);

      .fields {
        display: inline-block;

        input {
          display: inline-block;
          margin: $half-spacing-unit;
          margin-top: 0;
        }

        > *:last-child input {
          margin-bottom: 0;
        }
      }

      .remove_fields {
        @include color-link(shade(white, 30%), $red);
        position: relative;
        top: - $base-spacing-unit;
        margin-left: $half-spacing-unit;
        text-decoration: none;

        i { font-size: 16px; }
      }
    }
  }
}

// .img-preview {
//   display: block;

//   &:empty {
//     padding-bottom: $half-spacing-unit;
//   }

//   ul {
//     @extend %unstyled-list;
//     @extend .cf;
//     margin-top: $half-spacing-unit;
//     margin-bottom: 0;
//     padding-left: 2px;
//   }

//   li {
//     float: left;
//     margin-right: $half-spacing-unit;
//     margin-bottom: $half-spacing-unit;
//   }

//   img {
//     max-height: 5 * $base-spacing-unit;
//     box-shadow:
//       white 0 0 0 1px,
//       $primary-color 0 0 0 2px;
//   }
// }
