- @title = t(".page_title")

%h1= @title

.new-announcement= link_to "Dodaj najavu".prepend_icon("plus"), new_admin_announcement_path, class: "btn-primary"

%ol.announcements-list
  - @announcements.each do |announcement|
    = content_tag_for :li, announcement do
      = render announcement
