= navigation_sidebar do
  %li.nav-header
    = t(".one_day_courses")
  %li.nav-header
    = t(".eight_day_courses")
    %li{class: request.path == course_path(@kayak_adventure) && "active"}
      = link_to @kayak_adventure, course_path(@kayak_adventure)
