= navigation_sidebar do
  - @categories.each do |category|
    %li.nav-header
      = category.name
      - category.courses.each do |course|
        %li{class: ("active" if request.path == course_path(course))}
          = link_to course.name, course_path(course)
