= navigation_sidebar do
  - @categories.each do |category|
    %li.nav-header
      = category.name
      - category.courses.each do |course|
        %li{class: ("active" if @course == course)}
          = link_to course.name, pretty_course_path(category.slug, course.slug)
