= navigation_sidebar do
  - @courses.each do |category, courses|
    %li.nav-header
      = t(".#{category}")
      - courses.each do |course|
        %li{class: (request.path == course_path(course) && "active")}= link_to course, course_path(course)
