%ol
  - AboutController.action_methods.each do |action|
    - unless current_page?(controller: "about", action: action)
      %li= link_to t("about.#{action}.page_title"), action: action
    - else
      %li.active= link_to t("about.#{action}.page_title"), action: action
