= affix do
  - AboutController.action_methods.each do |action|
    %li{class: current_page?(controller: "about", action: action) && "active"}
      = link_to t("about.#{action}.page_title"), action: action
