:ruby
  partners = [
    {
      image: "outward-bound-international.png",
      href: "http://www.outwardbound.net/",
      title: "Outward Bound International",
    },
    {
      image: "waldorf-school-of-zagreb.png",
      href: "http://www.waldorfska-skola-zg.skole.hr",
      title: "Waldorf school of Zagreb",
    },
    {
      image: "udruga-igra.png",
      href: "http://udrugaigra.hr/",
      title: "Organization \"Igra\"",
    },
    {
      image: "youth-in-action.png",
      href: "http://ec.europa.eu/youth/index_en.htm",
      title: "Youth in Action",
    },
    {
      image: "international-american-school-of-zagreb.png",
      href: "http://www.aisz.hr/",
      title: "International American School of Zagreb",
    },
  ]

%ul.partner_list
  = list_of partners do |partner|
    %a{href: partner[:href]}
      .img= image_tag "partners/#{partner[:image]}"
      .name>= partner[:title]
