.about {

  &.instructors {
    .site {
      h2 { clear: both; }

      img {
        @extend %img-polaroid;
        float: left;
        margin-top: $quarter-spacing-unit;
        margin-right: $half-spacing-unit;

        ~ p {
          overflow: hidden;
        }
      }
    }
  }

}

.partner_list {
  @extend %unstyled-list;
  @include clearfix;

  li {
    float: left;
  }

  a {
    @include experimental(filter, grayscale(100%));
    display: inline-block;
    padding: rhythm(.5);
    &:hover {
      @include experimental(filter, grayscale(0%));
    }
  }
}
