.about {

  &.instructors {
    .site {
      h2 {
        clear: both;
        &:first-of-type {
          margin-top: 0;
        }
      }

      img {
        @extend %img-polaroid;
        float: left;
        margin-top: $half-spacing-unit/2;
        margin-right: $half-spacing-unit;

        ~ p {
          overflow: hidden;
        }
      }
    }
  }

}

.partner_list {
  @extend %unstyled-list;
  @extend .cf;
  font-family: $alt-font-family;

  a {
    @include color-link(rgba(black, .35), $link-hover);
    display: inline-block;
    padding: $half-spacing-unit;
  }

  .img,
  .name {
    @include font-size($h3-size);
    display: inline-block;
    vertical-align: middle;
  }

  .img {
    width: 120px;
    margin-right: $half-spacing-unit;
    text-align: center;
    line-height: 0;
  }
}
