// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

@import "admin/progress";
@import "jquery.Jcrop";
@import "mixins";
@import "icons";

body.active_admin {
  form {
    /* Text fields */
    input[type=text], input[type=password], input[type=email], input[type=number], input[type=url], input[type=tel], textarea {
      font-size: 1.3em;
    }

    fieldset.attachments {
      input[type=text] {
        width: 15%
      }
    }
  }

  .attributes_table {
    td {
      font-size: 1.3em;
    }
  }

  .progress {
    float: right;
    width: 25%;

    .bar {
      height: 100%;
      background-color: darken(green, .2)
    }
  }

  .photos {
    @include clearfix;

    img { vertical-align: middle; }

    .photo {
      position: relative;
      float: left;
      padding: 0;
      margin: 10px;
    }

    .delete_photo {
      @include position(absolute, 0px 0 0 0px);
      @include color-link(rgba(white, .75), white);
      display: inline-block;
      padding: 2px 6px;
      text-decoration: none;

      @include on-interact {
        background-color: rgba(black, .75);
      }
    }
  }

  .album_cover_photo_file {
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  td.position {
    a {
      text-decoration: none;
      margin-right: 2px;
      padding: 0 4px;

      &:first-child {

      }
    }
  }
}
