.announcements {
  @extend %unstyled-list;
  margin-bottom: $half-spacing-unit;

  li {
    position: relative;
    margin-bottom: $half-spacing-unit;
  }

  i {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: $base-spacing-unit;
    font-size: 32px;
    line-height: 2 * $base-spacing-unit;
    color: $link-color;
  }

  a {
    display: block;
    margin-left: 1.75 * $base-spacing-unit;
    padding: $half-spacing-unit;
    text-decoration: none;
    border: 1px solid tint($link-color, 50%);
    border-radius: 3px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: tint($link-color, 95%);
    @include on-interact {
      border-color: shade($link-color, 20%);
      background-color: tint($link-color, 90%);
    }
  }
}
