// inuit.css

$base-line-height:  26px;

$h1-size:           42px;
$h2-size:           46px;

@import 'vars';
@import 'inuit.css/inuit';

// layout

$site-width: 960px;
$navbar-height: $base-spacing-unit * 2.5;
$gutter-width: 25px;
$side-navigation-width: 200px;

// type

$base-font-family:  'proxima-nova', sans-serif;
$alt-font-family:   'proxima-nova-extra-condensed', sans-serif;

$base-thin:       100;
$base-light:      300;
$base-regular:    400;
$base-semibold:   600;
$base-bold:       700;
$base-extrabold:  800;
$base-black:      900;

$alt-thin:        200;
$alt-light:       300;
$alt-regular:     400;
$alt-semibold:    600;
$alt-bold:        700;
$alt-extrabold:   800;
$alt-black:       900;

// colors

$blue:              hsl(230, 30%, 30%);
$orange:            hsl(20, 95%, 50%);

$primary-color:     $blue;
$secondary-color:   $orange;

$facebook:          #3b5998;
$twitter:           #00aced;
$youtube:           #e14d40;

$body-background:   white;
$hero-background:   #535a7e;

$link-color:        $secondary-color;
$link-hover:        darken($secondary-color, 10%);

// Compass

$default-transition-duration: .2s;
