.carousel {
  $height: 300px;
  $border-width: $site-padding;
  position: relative;
  overflow: hidden;
  height: $height + 2 * $border-width;
  margin: 0 auto;
  border: $border-width solid rgba(white, .1);

  @include media-query(palm) {
    margin: 0 0 - $site-padding;
  }

  .inner { background: white; }

  .item {
    position: relative;
    float: left;
    margin-right: 1px;
    line-height: 0;
  }

  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $half-spacing-unit;
    line-height: $base-line-height;
    color: white;
    background: rgba(black, .75);

    .title,
    .desc {
      margin-bottom: 0;
    }

    .desc { font-weight: $base-light; }
  }

  .prev,
  .next {
    @include color-link(rgba(white, .5), white);
    opacity: .5;
    position: absolute;
    z-index: 20;
    top: 0;
    height: $height;
    padding: 0 $base-spacing-unit;
    font-size: 42px;
    line-height: $height - $base-spacing-unit;
    text-shadow: 0 0 5px rgba(black, .75);
    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
    }

    span {
      @include size(36px, 34px);
      display: inline-block;
      background: image-url('fancybox_sprite.png');
    }
  }

  .prev {
    left: 0;
    span { background-position: 0 -36px; }
  }

  .next {
    right: 0;
    span { background-position: 0 -72px; }
  }
}
