%unstyled-list {
  margin-left: 0;
  list-style: none;
}

%transition-all {
  @include transition(.2s);
}

%img-polaroid {
  display: inline-block;
  padding: 4px;
  background: white;
  border: 1px solid rgba(black, .25);
}
