html,
.site_footer {
  background: rgba(black, .8) image-url('footer-bg.png');
}

.site_footer {
  @extend %dark-design;
  @include rhythm-padding;
  @include clearfix;

  h1 {
    &:after {
      content: ":"
    }
  }
}

.site_footer h1,
.social {
  @include rhythm-margins(0);
  display: inline-block;
  vertical-align: middle;
}

.social {
  @extend %pie-clearfix;
  @extend %unstyled-list;
  @include adjust-font-size-to(42px);
  float: right;

  li {
    float: left;
    line-height: inherit;
  }

  a {
    $c1: darken(white, 10%);
    $c2: $c1;
    @include color-link($c1, $c2);
    display: block;
    padding: rhythm(.25) rhythm(.5);
    font-family: icons;
    text-decoration: none;
  }

  .facebook a {
    &:hover,
    &:focus {
      color: $facebook;
    }
  }

  .twitter a {
    &:hover,
    &:focus {
      color: $twitter;
    }
  }

  .youtube a {
    &:hover,
    &:focus {
      color: $youtube;
    }
  }
}
