html,
.site_footer {
  background: rgba(black, .8) image-url('footer-bg.png');
}

.site_footer {
  padding-top: $base-spacing-unit;
  padding-bottom: $half-spacing-unit;
  color: white;
  border-top: 1px solid black;

  h2 {
    margin-bottom: $half-spacing-unit;
  }

  .sections {
    @extend .grid-wrapper;
  }

  section {
    @extend .grid;
    @extend .one-whole;
    @extend .desk-one-third;
  }

  .contact,
  .social {
    @extend .lap-one-half;
  }

  .tweets {
    @extend .lap-one-whole;
  }
}

.tweets {
  ol {
    @extend %unstyled-list;
    position: relative;
  }

  li {
    position: absolute;
    top: 0;
    display: none;
    &:first-child {
      display: block;
    }
  }

  $icon-size: 38px;
  i {
    @include text-shadow(rgba(black, .5) 1px 1px 1px);
    position: absolute;
    top: 0;
    left: -15px;
    font-size: $icon-size;
    color: darken(white, 60%);
  }

  .author {
    margin-left: $icon-size - 6px;
  }

  blockquote {
    margin: 0;
    font-style: italic;
    padding: $half-spacing-unit;
    border: 1px solid black;
    background: rgba(black, .5);
  }

  @include media-query(portable) {
    ol { height: $base-spacing-unit * 5.5; }

    $icon-size: 26px;
    i {
      font-size: $icon-size;
      top: 7px;
      left: -8px;
    }
    .author { margin-left: $icon-size; }
  }
}

.copyright {
  @include font-size($milli-size);
  margin-bottom: $half-spacing-unit;
  color: rgba(white, .25);
  border-top: 1px dashed rgba(white, .1);
}
