html,
.site_footer {
  background: rgba(black, .8) image-url('footer-bg.png');
}

.site_footer {
  padding-top: $base-spacing-unit;
  padding-bottom: $half-spacing-unit;
  color: white;
  border-top: 1px solid black;

  h2 {
    margin-bottom: $half-spacing-unit;
  }
}

.tweets {
  ol {
    @extend %unstyled-list;
    position: relative;
  }

  li {
    position: absolute;
    top: 0;
    display: none;
    &:first-child {
      display: block;
    }
  }

  blockquote {
    margin: 0;
    font-style: italic;
    padding: $half-spacing-unit;
    border: 1px solid black;
    background: rgba(black, .5);
  }
}

.copyright {
  @include font-size($milli-size);
  color: rgba(white, .25);
  border-top: 1px dashed rgba(white, .1);
}
