#{$all-text-inputs} {
  cursor: text;
  padding: $half-spacing-unit/2;
  border: 1px solid rgba(black, .25);
  outline: none;

  &:focus {
    border-color: rgba(black, .5);
  }
}

button {
  padding: $half-spacing-unit/2 $half-spacing-unit;
  border: 1px solid black;
  outline: none;
  color: white;
  background-color: $primary-color;
}
