html,
body {
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
  font-family: $base-font-family;
  color: rgba(black, .9);
}

body {
  background: $body-background;
}

.container {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $site-padding;
  padding-right: $site-padding;
}

.site {
  padding-top: $base-spacing-unit;
  padding-bottom: $half-spacing-unit;
  min-height: 400px;

  h1 { display: none; }
}

h1,
h2 {
  font-family: $alt-font-family;
}

h1 {
  font-weight: $alt-regular;
}

h2 {
  font-weight: $alt-light;
  margin-bottom: 0;
}

a {
  @include color-link($link-color, $link-hover);
}
