.navbar {
  $border-width: 1px;
  position: relative;
  z-index: 10;
  height: $navbar-height;
  font-size: $h4-size;
  font-weight: $base-light;
  line-height: $navbar-height - $border-width;
  color: white;
  border-bottom: $border-width solid black;
  background: $primary-color;

  .container {
    @extend .cf;
    position: relative;
    height: 100%;
    padding-left: 0;
  }

  $hover-color: white;
  $color: rgba($hover-color, .75);

  .nav a,
  .nav_expander,
  .lang a{
    @include color-link($color, $hover-color);
    height: $navbar-height - $border-width;
    padding: 0 $half-spacing-unit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .nav_expander {
    padding-right: 0;
  }

  .active a {
    @include color-link($hover-color);
    font-weight: $base-bold;
  }

  .brand {
    display: inline-block;
    height: 100%;
    float: left;
    height: auto;
    padding: 7px $half-spacing-unit/2;
    line-height: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: white;

    @include media-query(lap-and-up) {
      margin-bottom: 0;
    }
  }

  .nav_expander {
    font-weight: $base-bold;
  }

  .nav {
    @extend .cf;
    margin-bottom: 0;

    li {
      display: block;
    }
  }

  .main {
    @extend %transition-all;
  }

  .lang {
    float: right;
    margin-left: 0;

    li { float: left; }

    a { padding: 0 8px; }

    .current {
      a {
        &:hover,
        &:focus {
          cursor: pointer;
        }
      }

      img {
        @include box-shadow(rgba(white, .75) 0 0 8px);
      }
    }
  }

  @include media-query(lap-and-up) {
    .container {
      padding-left: $site-padding;
    }

    .brand {
      margin-right: $half-spacing-unit;
    }

    .nav_expander {
      display: none;
    }

    .nav {
      &, li {
        float: left;
      }
    }

    .lang {
      margin-left: 0;
      float: right;

      a {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .log {
      float: right;
    }
  }
}
