.navbar {
  $border-width: 1px;
  position: relative;
  z-index: 1;
  height: $navbar-height;
  font-size: $h4-size;
  font-weight: $base-light;
  line-height: $navbar-height - $border-width;
  color: white;
  border-bottom: $border-width solid black;
  background: $primary-color;

  .container {
    @extend .cf;
    height: 100%;
  }

  $hover-color: white;
  $color: rgba($hover-color, .75);
  a {
    @include color-link($color, $hover-color);
    height: $navbar-height - $border-width;
    padding: 0 $half-spacing-unit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .active a {
    @include color-link($hover-color);
    font-weight: $base-bold;
  }

  .brand {
    display: inline-block;
    height: auto;
    margin-right: $half-spacing-unit;
    padding: 7px $half-spacing-unit/2;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: white;
  }

  .nav {
    @extend .cf;
    margin-bottom: 0;

    li {
      display: block;
    }
  }

  .lang {
    li { float: left; }

    a {
      padding-top: 5px;
      padding: 5px 8px;
    }

    .current {
      a {
        &:hover,
        &:focus {
          cursor: pointer;
        }
      }

      img {
        @include box-shadow(rgba(white, .75) 0 0 8px);
      }
    }
  }

  @include media-query(palm) {
    $link-height: $base-spacing-unit * 2;
    height: auto;

    a {
      height: $link-height;
      display: block;
      padding: 0;
      line-height: $link-height;
    }

    .brand {
      margin-top: $half-spacing-unit;
      line-height: 0;
      border-radius: 5px;
    }

    .lang {
      margin-bottom: $half-spacing-unit;

      li { line-height: 0; }
    }
  }

  @include media-query(lap-and-up) {
    .brand {
      float: left;
      height: 100%;
    }

    .nav {
      &, li {
        float: left;
      }
    }

    .lang {
      float: right;
    }
  }
}
