.hero-unit {
  @include padding-leader;
  position: relative;
  padding-bottom: $base-spacing-unit * 2;
  text-align: center;
  color: white;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  background-image: image-url('hero-bg.png');
  background-color: $hero-background;

  h1 {
    @include text-shadow(rgba(black, .75) 0 0 6px);
    @include font-size($mega-size);
    font: {
      family: $alt-font-family;
      weight: $alt-bold;
    }
    margin-bottom: $half-spacing-unit;
  }

  .carousel {
    border: 10px solid rgba(white, .1);
  }

  .video {
    $icon-size: 72px;
    $padding-vertical: 3px;
    $padding-horizontal: 3px;
    $color: $youtube;
    @include color-link($color, darken($color, 10%));
    @include border-radius(16px);
    position: absolute;
    bottom: - $icon-size/2 + $icon-size * 0.125;
    left: 50%;
    display: inline-block;
    margin-left: - $icon-size/2 - $padding-horizontal;
    padding: $padding-vertical $padding-horizontal;
    font-family: icons;
    font-size: $icon-size;
    line-height: $base-line-height * 2;
    background: white;
    &:hover {
      text-decoration: none;
    }

    i {
      position: relative;
      top: 3px;
    }
  }
}

.lead {
  font: {
    family: $alt-font-family;
    size: $h2-size;
  }
}
