.hero-unit {
  @include padding-leader;
  padding-bottom: $base-spacing-unit;
  text-align: center;
  color: white;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  background-image: image-url('hero-bg.png');
  background-color: #535a7e;

  h1 {
    @include text-shadow(rgba(black, .75) 0 0 6px);
    @include font-size($mega-size);
    font: {
      family: $alt-font-family;
      weight: $alt-bold;
    }
    margin-bottom: $half-spacing-unit;
  }

  .video {
    $color: black;
    border: 1px solid $color;
    background: rgba($color, .5);
  }

  iframe {
    display: block;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

.lead {
  font: {
    family: $alt-font-family;
    size: $h2-size;
  }
}
