body.home {

  .navbar {
    @include box-shadow(rgba(black, .5) 0 0 8px);
  }

  .about_items {
    h2 {
      @include font-size($h2-size);
    }

    @include media-query(lap-and-up) {
      text-align: center;

      h2 {
        display: inline-block;
        padding: 0 $half-spacing-unit;
        border-bottom: none;
        background: white;

        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          margin-top: - $base-spacing-unit * 1;
          left: 0;
          right: 0;
          display: block;
          border-top: 1px solid rgba(black, .25);
        }
      }

      p { text-align: left; }
    }
  }

  .partners {
    text-align: center;

    ul {
      @extend %unstyled-list;
      @extend .cf;
      margin-bottom: 0;
      font-family: $alt-font-family;
      font-size: $h4-size;
      line-height: $base-line-height;
    }

    li {
      text-align: left;
    }

    .rh, a {
      padding: $half-spacing-unit;
    }

    a {
      @include color-link(rgba(black, .35), $link-hover);
      display: inline-block;
    }

    .img,
    .name {
      display: inline-block;
      vertical-align: middle;
    }

    .img {
      margin-right: $half-spacing-unit;
    }

    img { height: $base-spacing-unit * 2; }

    @include media-query(lap-and-up) {
      height: $base-spacing-unit * 4;

      ul {
        display: inline-block;
      }

      li {
        float: left;
      }

      a, .rh {
        padding: $base-spacing-unit;
      }
    }
  }
}
