@include establish-baseline;

body {
  @include container;
  @include leader;
  font-family: $sans;
  color: $text;
}

h1, h2, h3, p, ol, ul {
  @include rhythm(0, 0, 0, 1);
}

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link2, $link1, $link2);
}

#header {
  @include trailer;
  @include clearfix;
}

$cols: 4;
#logo {
  $font-size: 54px;
  @include span-columns($cols);
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
}

$cols: $total-columns - $cols;
nav {
  @include leader(.5);
  @include span-columns($cols omega);
  ol { @include horizontal-list; }
  a {
    display: block;
    padding: rhythm(.5);
    text-transform: uppercase;
  }
}
