.flash,
.error {
  display: inline-block;
  padding: $half-spacing-unit/2;
  border-radius: 2px;

  i {
    position: relative;
    top: 2px;
  }
}

span.error {
  .input.string &,
  .input.text &,
  .attachment-error & {
    position: relative;
    z-index: -1;
    margin-top: -1px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.flash {
  max-width: $site-width - $newsletter-width - 70px;
  margin-bottom: $half-spacing-unit;
}

.flash.notice {
  color: $success-color;
  border: 1px solid rgba($success-color, .5);
  background-color: rgba($success-color, .1);
}

.flash.alert,
.error {
  color: $error-color;
  border: 1px solid rgba($error-color, .5);
  background-color: rgba($error-color, .1);
}
