body.newsletter {

  .newsletter_link {
    display: none;
  }

}

.newsletter_link {
  @include font-size($base-font-size - 2px);
  @include color-link(white);
  position: absolute;
  z-index: 10;
  bottom: - ($base-spacing-unit + 1px);
  right: 50%;
  width: $newsletter-width;
  height: $base-spacing-unit;
  margin-right: - $newsletter-width/2;
  font-weight: $base-light;
  line-height: $base-line-height;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid black;
  border-top: none;
  background-color: shade($blue, 20%);
  @include on-interact {
    text-decoration: none;
  }

  @include media-query(lap-and-up) {
    right: $site-padding;
    margin-right: 0;

    body.home & {
      right: 50%;
      margin-right: - $newsletter-width/2;
    }
  }

  i {
    position: relative;
    top: 1px;
    font-size: 16px;
    -webkit-font-smoothing: none;
  }
}
