// inuit.css

blockquote {
  text-indent: 0;
}

// fancyBox

.fancybox-lock {
  overflow: visible !important;
  margin-right: auto !important;
}

.fancybox-lock .fancybox-overlay {
  overflow: hidden;
}
