.social {
  @extend %unstyled-list;

  li {
    line-height: inherit;
  }

  a {
    $c1: rgba(white, .5);
    $c2: $c1;
    @include color-link($c1, $c2);
    display: block;
    text-decoration: none;
  }

  i, span { vertical-align: middle; }

  i {
    @include adjust-font-size-to(32px);
    padding-right: rhythm(.25);
  }

  span {
    @include adjust-font-size-to(24px);
  }

  .facebook a {
    &:hover,
    &:focus {
      color: $facebook;
    }
  }

  .twitter a {
    &:hover,
    &:focus {
      color: $twitter;
    }
  }

  .youtube a {
    &:hover,
    &:focus {
      color: $youtube;
    }
  }
}
