.social {
  font-family: $alt-font-family;
  font-weight: $alt-bold;

  ol { @extend %unstyled-list; }

  li { line-height: inherit; }

  $padding: .75rem;
  a {
    @extend %transition-all;
    $c1: rgba(white, .5);
    $c2: $c1;
    @include color-link($c1, $c2);
    display: inline-block;
    padding: 0 $padding;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background: white;
    }
  }

  i, span { vertical-align: middle; }

  i {
    @include font-size(32px);
    padding-right: $padding;
  }

  span {
    @include font-size(24px); // FIXME: pick a number from the scale
  }

  .facebook a {
    &:hover,
    &:focus {
      color: $facebook;
    }
  }

  .twitter a {
    &:hover,
    &:focus {
      color: $twitter;
    }
  }

  .youtube a {
    &:hover,
    &:focus {
      color: $youtube;
    }
  }
}
