// layout

$site-width:            $desk-start;
$navbar-height:         $base-spacing-unit * 2.5;
$gutter-width:          24px;
$site-padding:          $gutter-width / 2;
$side-navigation-width: 220px;

// type

$base-font-family:  "proxima-nova", sans-serif;
$alt-font-family:   "proxima-nova-extra-condensed", sans-serif;

$base-light:      300;
$base-regular:    400;
$base-bold:       700;

$alt-regular:     400;
$alt-bold:        700;

// colors

$blue:              hsl(230, 30%, 30%);
$orange:            hsl(20, 95%, 50%);

$primary-color:     $blue;
$secondary-color:   $orange;

$facebook:          #3b5998;
$twitter:           #00aced;
$youtube:           #e14d40;

$body-background:   white;
$hero-background:   #535a7e;

$link-color:        $secondary-color;
$link-hover:        darken($secondary-color, 10%);

// Compass

$default-transition-duration: .2s;
