.wf-loading {

  * {
    color: transparent !important;
    text-shadow: none !important;
  }

  .hero-unit {
    h1 {
      height: 3.5 * $base-spacing-unit;
    }

    .lead {
      height: 2 * $base-spacing-unit;
    }
  }

}
