%ol.contact_info
  %li.phone
    #{icon("phone")} +385 91 56 26 744<br>
  %li.email
    #{icon("mail")} #{mail_to "info@outwardbound.hr"}
  %li.address
    #{icon("home")}
    .adr
      .name Hrvatska škola Outward Bound
      .street-adress 3. Cvjetno naselje 20
      %span.postal-code 10000
      %span.locality Zagreb
      .country-name Hrvatska
