%footer.site_footer
  .container
    %ol.social
      %li.facebook
        %a{href: "https://www.facebook.com/outwardboundcroatia", target: "_blank"}
          = icon("facebook")
      %li.twitter
        %a{href: "https://twitter.com/outwardb", target: "_blank"}
          = icon("twitter")
      %li.youtube
        %a{href: "http://www.youtube.com/user/OutwardBoundCroatia", target: "_blank"}
          = icon("youtube")

    = render "contact"
