= javascript_include_tag "//use.typekit.net/tca8gie.js"
:javascript
  // by Paul Irish (@paul_irish)
  (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);

  // Typekit
  try{Typekit.load();}catch(e){}
